# Copyright (C) 2024 Alif Semiconductor.
# SPDX-License-Identifier: Apache-2.0

# Designware I2S driver configuration options
menuconfig I2S_DW
	bool "Desginware I2S controller driver"
	default y
	depends on DT_HAS_SNPS_DESIGNWARE_I2S_ENABLED
	help
	  Enable Designware I2S support.

if I2S_DW

config I2S_DW_RX_BLOCK_COUNT
	int "RX queue length"
	default 10

config I2S_DW_TX_BLOCK_COUNT
	int "TX queue length"
	default 10

endif # I2S_DW
