# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_B1_FPGA_RTSS_HE=y
CONFIG_SOC_SERIES_BALLETTO_B1=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_RUNTIME_NMI=y
CONFIG_ARM_MPU=y
CONFIG_PINCTRL=y
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=24000000

# Zephyr Kernel Configuration
CONFIG_XIP=y
CONFIG_GPIO=y
CONFIG_GPIO_DW=y
CONFIG_SOC_SUPPORT_ARM_MHUV2=y

# Cache Management
CONFIG_CACHE_MANAGEMENT=y

# LLVM Arm toolchain 16.0.0 does not recognize --gap-fill
CONFIG_BUILD_NO_GAP_FILL=y

CONFIG_UART_NS16550=y
# UART variant of ns16550 that supports auto flow control
CONFIG_UART_NS16550_VARIANT_NS16750=y
# Support break condition
CONFIG_UART_LINE_CTRL=y
CONFIG_UART_NS16550_LINE_CTRL=y


# Enabled temporarily to work with FPGA. When booting from OSPI1 set to 'n'.
CONFIG_INIT_ARCH_HW_AT_BOOT=y

# FPGA uses latest ROM code. Currently version 1.2
CONFIG_ALIF_BLE_ROM_IMAGE_V1_2=y
