# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

if ALIF_B1_DK_BOARD

config BOARD
	default "alif_b1_devkit"
endif # ALIF_B1_DK_BOARD

config MAIN_STACK_SIZE
	default 4096

config BT_BUF_ACL_RX_SIZE
	range 251 65535
	default 251

config BT_BUF_EVT_RX_COUNT
	default 20 if (BT_MESH && !(BT_BUF_EVT_DISCARDABLE_COUNT > 0))
	default 10
	range 10 255

config BT_BUF_ACL_RX_COUNT
	default 10
	range 6 255

config BT_BUF_ACL_TX_COUNT
	default 10
	range 6 255
