# Alif FocusLCD MW-405 display panel configuration options

# Copyright (C) 2024 Alif Semiconductor
# SPDX-License-Identifier: Apache-2.0

config MW405
	bool "Focus-LCD E43GB-I-MW405-C display driver"
	default y
	depends on MIPI_DSI
	depends on DISPLAY
	depends on DT_HAS_FOCUSLCD_MW405_ENABLED
	help
	  Enable driver for FocusLCD MW405 display driver.
