# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_ENSEMBLE
	bool "Alif Ensemble family of SoC"
	select HAS_SEGGER_RTT
	select HAS_ALIF_SE_SERVICES

if SOC_FAMILY_ENSEMBLE

config SOC_FAMILY
	string
	default "alif_ensemble"

source "soc/arm/alif_ensemble/*/Kconfig.soc"
endif # SOC_FAMILY_ENSEMBLE
