# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0
config MRAM_FLASH_ALIF
	bool "MRAM flash driver for Alif SoCs"
	default y
	depends on DT_HAS_ALIF_MRAM_FLASH_CONTROLLER_ENABLED
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	help
	 Enables MRAM flash driver on Alif SoCs.

menuconfig OSPI_FLASH_IS25WX
	bool "OSPI Flash IS25WX 128/256/512 driver for Alif DevKit"
	default y
	depends on DT_HAS_ISSI_XSPI_FLASH_CONTROLLER_ENABLED
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	select EVENTS
	help
	 Enables IS25WX256/512 flash driver on Alif DevKit.
	 Update num-of-sector@ospi_flash property value in devicetree.
	 - 8K for 256Mb and 16K for 512Mb size support.

if OSPI_FLASH_IS25WX
	config OSPI
	bool "OSPI Controller Enabled"
	default y
	help
	 Indicate OSPI Controller Enabled.

	config USE_ALIF_HAL_OSPI
	bool "OSPI driver located in HAL Module"
	default y
	help
	 Enables OSPI driver on Alif SoCs.

	config FLASH_ADDRESS_IN_SINGLE_FIFO_LOCATION
	bool "IS25WX Flash Setup with Single Address mode"
	help
	 Enables Single Address mode while setting up IS25Wx Flash.

	config  FLASH_PREPARE_CMD_LEN
	int "Number of 32 bit buffer provided for prepare command"
	default 3 if FLASH_ADDRESS_IN_SINGLE_FIFO_LOCATION
	default 5
	help
	  Configure prepare command length

	config ALIF_OSPI_FLASH_XIP
	bool "XiP mode Enabled"
	help
	  Enable XiP mode of Flash at initialization.

endif # OSPI_FLASH_IS25WX
