# Alif PDM driver configuration options

# Copyright (C) 2024 Alif Semiconductor
# SPDX-License-Identifier: Apache-2.0

config ALIF_PDM
	bool "Alif PDM module driver enable"
	default y
	depends on DT_HAS_ALIF_ALIF_PDM_ENABLED
	help
		Enable Alif PDM module driver
