# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config CLOCK_CONTROL_ALIF
	bool "Alif clock control driver"
	default y
	depends on DT_HAS_ALIF_CLK_ENABLED
	help
	  Enable Alif clock control driver.
