/*
 * Copyright (c) 2024 Alif Semiconductor.
 * SPDX-License-Identifier: Apache-2.0
 */


/* For OSPI1 Test with Flash
 *
 */
/ {
	aliases {
		spi-flash0 = &ospi1;
	};
};
&ospi1 {
        pinctrl-0 = <&pinctrl_flash>;
	status = "okay";
};
