# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_ENSEMBLE_E1C
	bool "Alif Ensemble E1C MCU Series"
	select ARM
	select SOC_FAMILY_ENSEMBLE
	select BUILD_NO_GAP_FILL
	select BUILTIN_STACK_GUARD
	select CPU_HAS_CUSTOM_FIXED_SOC_MPU_REGIONS
	select PLATFORM_SPECIFIC_INIT
	select INIT_ARCH_HW_AT_BOOT
	select HAS_PM
	select HAS_POWEROFF
	help
	  Enable support for Alif Ensemble MCU and MPU series
