# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config PWM_ALIF_UTIMER
	bool "ALIF Universal Timer PWM driver"
	default y
	depends on DT_HAS_ALIF_PWM_ENABLED
	help
	  Enable utimer based pwm driver.
